<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans 
	PUBLIC "-//SPRING//DTD BEAN 3.0//EN" 
	"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<!-- 指定配置文件 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:hibernate.properties</value>
			</list>
		</property>
	</bean>
	<!-- 配置数据源  -->
	<!-- 
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@10.132.1.46:1521:EVTFS" />
		<property name="username" value="prod" />
		<property name="password" value="prodprod" />
	</bean>
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@10.132.3.42:1521:CISTEST" />
		<property name="username" value="drtest" />
		<property name="password" value="Liberty13" />
	</bean>
	
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName"><value>${hibernate.dataSource.jndiName}</value></property>
	</bean>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@10.132.21.28:1521:CISTEST" />
		<property name="username" value="devuser" />
		<property name="password" value="devuser" />
	</bean>
	-->
	
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName"><value>${hibernate.dataSource.jndiName}</value></property>
	</bean>
	<!-- 配置sessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<!-- hiberntae映射文件,可使用通配符* -->
		<!-- <property name="mappingLocations">
			<list>
				<value>classpath*:/com/ronglian/uec_cloud/**/bo/*.hbm.xml</value>
				<value>classpath*:/entity/xml/*.hbm.xml</value>
			</list>
		</property> -->
		
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:/com/sinosoft/efiling/hibernate/entity/</value>
				<value>classpath:/com/sinosoft/filenet/</value>
			</list>
		</property>
		
		<!-- 配置hibernate属性 -->		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<!-- <prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop> -->
				<!-- <prop key="hibernate.current_session_context_class">${hibernate.current_session_context_class}</prop> -->
			</props>
		</property>
		
	</bean>
	
	<!-- 配置事务 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	
	<!-- 使用拦截器配置事务 -->
	<!-- 一般仅为service类配置事务，Dao类中的每个方法均视为原子操作，不再配置事务 -->
	<bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />  
		<!-- 配置事务属性 -->  
		<property name="transactionAttributes">  
			<props>
				<!-- 嵌套事务 -->
				<prop key="*Nested">PROPAGATION_NESTED</prop>
				<prop key="query*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="get">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="modify*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="getValidFileBox">PROPAGATION_REQUIRED</prop>
				<prop key="*Transaction">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>  
    </bean>
    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<list>
				<!-- 要配置事务的类 -->
				<value>*Service</value>
				<value>*Transaction</value>
			</list>
		</property>
		
		<!-- 此属性指定目标类本省是否是代理的对象，如果目标类没有实现任何类，就设为true代表自己, 防止没有接口导致的错误 -->
		<property name="proxyTargetClass" value="true" />
		<property name="interceptorNames">
			<list>
				<!-- 要使用的拦截器 -->
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>

	
	<!-- 配置DAO -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>	
	<bean id="entityDao" class="com.sinosoft.util.hibernate.dao.EntityDaoSupport" abstract="true">
		<property name="hibernateTemplate">
			<ref local="hibernateTemplate" />
		</property>
	</bean>	
	<!-- 配置service -->
	<bean id="serviceSupport" abstract="true">
		<property name="userDao"><ref local="userDao" /></property>
		<property name="companyDao"><ref local="companyDao" /></property>
	</bean>
	<!-- 配置action -->
	<!-- scope="prototype"为每一个请求都新建一个实例.与struts2整合时action不能使用默认的值. -->
	<bean id="actionSupport" abstract="true" scope="prototype">
		<property name="userService"><ref local="userService" /></property>
		<property name="companyService"><ref local="companyService" /></property>
	</bean>
	<!-- 读取跨域http地址的action -->
	<bean id="httpReaderAction" class="com.sinosoft.efiling.struts2.action.HttpReaderAction" parent="actionSupport"></bean>
	<!-- ECM的action -->
	<bean id="ecmAction" class="com.ecm.webservice.ECMWebServiceAction" parent="actionSupport"></bean>
	
	<!-- 配置dao -->
	<bean id="companyDao" class="com.sinosoft.efiling.hibernate.dao.CompanyDao" parent="entityDao"></bean>
	<bean id="gradeDao" class="com.sinosoft.efiling.hibernate.dao.GradeDao" parent="entityDao"></bean>
	<bean id="gradeTaskDao" class="com.sinosoft.efiling.hibernate.dao.GradeTaskDao" parent="entityDao"></bean>
	<bean id="menuDao" class="com.sinosoft.efiling.hibernate.dao.MenuDao" parent="entityDao"></bean>
	<bean id="taskDao" class="com.sinosoft.efiling.hibernate.dao.TaskDao" parent="entityDao"></bean>
	<bean id="userDao" class="com.sinosoft.efiling.hibernate.dao.UserDao" parent="entityDao"></bean>
	<bean id="userGradeDao" class="com.sinosoft.efiling.hibernate.dao.UserGradeDao" parent="entityDao"></bean>
	<bean id="userGradePowerDao" class="com.sinosoft.efiling.hibernate.dao.UserGradePowerDao" parent="entityDao"></bean>
	<bean id="userGradeTaskDao" class="com.sinosoft.efiling.hibernate.dao.UserGradeTaskDao" parent="entityDao"></bean>
	<bean id="prpdCodeDao" class="com.sinosoft.efiling.hibernate.dao.PrpdCodeDao" parent="entityDao"></bean>
	
	<bean id="productDao" class="com.sinosoft.efiling.hibernate.dao.ProductDao" parent="entityDao"></bean>
	<bean id="productRiskDao" class="com.sinosoft.efiling.hibernate.dao.ProductRiskDao" parent="entityDao"></bean>	
	<bean id="fileBoxDao" class="com.sinosoft.efiling.hibernate.dao.FileBoxDao" parent="entityDao"></bean>
	<bean id="fileBoxVersionDao" class="com.sinosoft.efiling.hibernate.dao.FileBoxVersionDao" parent="entityDao"></bean>
	<bean id="fileTypeDao" class="com.sinosoft.efiling.hibernate.dao.FileTypeDao" parent="entityDao"></bean>
	<bean id="fileDeadlineDao" class="com.sinosoft.efiling.hibernate.dao.FileDeadlineDao" parent="entityDao"></bean>
	<bean id="documentDao" class="com.sinosoft.efiling.hibernate.dao.DocumentDao" parent="entityDao"></bean>
	<bean id="documentFileDao" class="com.sinosoft.efiling.hibernate.dao.DocumentFileDao" parent="entityDao"></bean>
	<bean id="fileLendingDao" class="com.sinosoft.efiling.hibernate.dao.FileLendingDao" parent="entityDao"></bean>
	<bean id="fileLendingDetailDao" class="com.sinosoft.efiling.hibernate.dao.FileLendingDetailDao" parent="entityDao"></bean>
	<bean id="fileLendingReturnDao" class="com.sinosoft.efiling.hibernate.dao.FileLendingReturnDao" parent="entityDao"></bean>
	<bean id="fileDao" class="com.sinosoft.efiling.hibernate.dao.FileDao" parent="entityDao"></bean>
	<bean id="configureDao" class="com.sinosoft.efiling.hibernate.dao.ConfigureDao" parent="entityDao"></bean>
	
	<!-- 配置单证流程时候用的一些特殊的dao-->
	<bean id="prpTMainDao" class="com.sinosoft.efiling.hibernate.dao.PrpTMainDao" parent="entityDao"></bean>
	<bean id="prpCMainDao" class="com.sinosoft.efiling.hibernate.dao.PrpCMainDao" parent="entityDao"></bean>	
	<bean id="prpPMainDao" class="com.sinosoft.efiling.hibernate.dao.PrpPMainDao" parent="entityDao"></bean>
	<bean id="prpTInsuredDao" class="com.sinosoft.efiling.hibernate.dao.PrpTInsuredDao" parent="entityDao"></bean>
	<bean id="prpCInsuredDao" class="com.sinosoft.efiling.hibernate.dao.PrpCInsuredDao" parent="entityDao"></bean>
	<bean id="prpPInsuredDao" class="com.sinosoft.efiling.hibernate.dao.PrpPInsuredDao" parent="entityDao"></bean>
	<bean id="prpTMainsubDao" class="com.sinosoft.efiling.hibernate.dao.PrpTMainsubDao" parent="entityDao"></bean>
	<bean id="prpCMainsubDao" class="com.sinosoft.efiling.hibernate.dao.PrpCMainsubDao" parent="entityDao"></bean>
	<bean id="prpPMainsubDao" class="com.sinosoft.efiling.hibernate.dao.PrpPMainsubDao" parent="entityDao"></bean>
	<bean id="prpTItemcarDao" class="com.sinosoft.efiling.hibernate.dao.PrpTItemcarDao" parent="entityDao"></bean>
	<bean id="prpCItemcarDao" class="com.sinosoft.efiling.hibernate.dao.PrpCItemcarDao" parent="entityDao"></bean>
	<bean id="prpPItemcarDao" class="com.sinosoft.efiling.hibernate.dao.PrpPItemcarDao" parent="entityDao"></bean>
	<bean id="prpDUwmtypesDao" class="com.sinosoft.efiling.hibernate.dao.PrpDUwmtypesDao" parent="entityDao"></bean>
	<bean id="prpDCoderiskDao" class="com.sinosoft.efiling.hibernate.dao.PrpDCoderiskDao" parent="entityDao"></bean>
	<bean id="prppMaincovernoteDao" class="com.sinosoft.efiling.hibernate.dao.PrppMaincovernoteDao" parent="entityDao"></bean>
	<bean id="prpcMaincovernoteDao" class="com.sinosoft.efiling.hibernate.dao.PrpcMaincovernoteDao" parent="entityDao"></bean>
	<bean id="prpcCustomerDao" class="com.sinosoft.efiling.hibernate.dao.PrpcCustomerDao" parent="entityDao"></bean>
	<bean id="prppCustomerDao" class="com.sinosoft.efiling.hibernate.dao.PrppCustomerDao" parent="entityDao"></bean>
 
 	<bean id="prptcarshiptaxDao" class="com.sinosoft.efiling.hibernate.dao.PrptcarshiptaxDao" parent="entityDao"></bean>
 
  	<bean id="paperLogDocumentDao" class="com.sinosoft.efiling.hibernate.dao.PaperLogDocumentDao" parent="entityDao"></bean>
 	
	<!-- 产品线 -->
	<bean id="companyService" class="com.sinosoft.efiling.service.CompanyService" parent="serviceSupport">
		<property name="dao"><ref local="companyDao" /></property>
	</bean>
	<!-- 产品线 -->
	<bean id="productService" class="com.sinosoft.efiling.service.ProductService" parent="serviceSupport">
		<property name="dao"><ref local="productDao" /></property>
	</bean>
	
	<bean id="userService" class="com.sinosoft.efiling.service.UserService" parent="serviceSupport">
		<property name="dao"><ref local="userDao" /></property>
		<property name="companyDao"><ref local="companyDao" /></property>
		<property name="gradeDao"><ref local="gradeDao" /></property>
		<property name="gradeTaskDao"><ref local="gradeTaskDao" /></property>
		<property name="menuDao"><ref local="menuDao" /></property>
		<property name="taskDao"><ref local="taskDao" /></property>
		<property name="userGradeDao"><ref local="userGradeDao" /></property>
		<property name="userGradePowerDao"><ref local="userGradePowerDao" /></property>
		<property name="userGradeTaskDao"><ref local="userGradeTaskDao" /></property>
	</bean>
	<bean id="userAction" class="com.sinosoft.efiling.struts2.action.UserAction" parent="actionSupport">
		<property name="service">
			<ref local="userService" />
		</property>
	</bean>
	
	<!-- 档案盒版本 -->
	<bean id="fileBoxVersionService" class="com.sinosoft.efiling.service.FileBoxVersionService" parent="serviceSupport">
		<property name="dao"><ref local="fileBoxVersionDao" /></property>
	</bean>
	<bean id="fileBoxVersionAction" class="com.sinosoft.efiling.struts2.action.FileBoxVersionAction" parent="actionSupport">
		<property name="service">
			<ref local="fileBoxVersionService" />
		</property>
	</bean>
		
	<!-- 档案类型 -->
	<bean id="fileTypeService" class="com.sinosoft.efiling.service.FileTypeService" parent="serviceSupport">
		<property name="dao"><ref local="fileTypeDao" /></property>
		<property name="prpdCodeDao"><ref local="prpdCodeDao" /></property>
	</bean>
	<bean id="fileTypeAction" class="com.sinosoft.efiling.struts2.action.FileTypeAction" parent="actionSupport">
		<property name="service">
			<ref local="fileTypeService" />
		</property>
	</bean>
	
	<!-- 档案管理 -->
	<bean id="fileBoxService" class="com.sinosoft.efiling.service.FileBoxService" parent="serviceSupport">
		<property name="dao"><ref local="fileBoxDao" /></property>
		<property name="fileDao"><ref local="fileDao" /></property>
		<property name="fileBoxVersionService"><ref local="fileBoxVersionService" /></property>
	</bean>
	<bean id="fileService" class="com.sinosoft.efiling.service.FileService" parent="serviceSupport">
		<property name="dao"><ref local="fileDao" /></property>		
	</bean>
	<!-- 纸质档案处理归档日志 -->
 	<bean id="paperLogDocumentService" class="com.sinosoft.efiling.service.PaperLogDocumentService" parent="serviceSupport">
		<property name="dao"><ref local="paperLogDocumentDao" /></property>
	</bean>
	
	<bean id="documentService" class="com.sinosoft.efiling.service.DocumentService" parent="serviceSupport">
		<property name="fileBoxVersionService"><ref local="fileBoxVersionService"/></property>
		<property name="fileBoxService"><ref local="fileBoxService" /></property>
		<property name="fileService"><ref local="fileService" /></property>
		<property name="fileTypeService"><ref local="fileTypeService" /></property>
		<property name="dao"><ref local="documentDao" /></property>		
		<property name="productDao"><ref local="productDao" /></property>
		<property name="documentFileDao"><ref local="documentFileDao" /></property>
		<property name="fileDeadlineDao"><ref local="fileDeadlineDao" /></property>	
		<property name="fileIndexService"><ref local="fileIndexService" /></property>
		<property name="configureDao"><ref local="configureDao" /></property>
		<property name="documentAuditService"><ref local="documentAuditService" /></property>
		<property name="paperLogDocumentService"><ref local="paperLogDocumentService" /></property>
	</bean>
	<bean id="documentAction" class="com.sinosoft.efiling.struts2.action.DocumentAction" parent="actionSupport">		
		<property name="service">
			<ref local="documentService" />
		</property>
	</bean>
	<bean id="fileManagerAction" class="com.sinosoft.efiling.struts2.action.FileManagerAction" parent="documentAction"></bean>
	<bean id="fileImageAction" class="com.sinosoft.efiling.struts2.action.FileImageAction" parent="documentAction">	
		<property name="documentAuditService">
			<ref local="documentAuditService" />
		</property>
	</bean>
	<bean id="fileApproveService" class="com.sinosoft.efiling.service.FileApproveService" parent="documentService"></bean>
	<bean id="fileCoreApproveAction" class="com.sinosoft.efiling.struts2.action.FileCoreApproveAction" parent="actionSupport">	
		<property name="service">
			<ref local="fileApproveService" />
		</property>
	</bean>
	<bean id="fileCoreAction" class="com.sinosoft.efiling.struts2.action.FileCoreAction" parent="fileCoreApproveAction">	
		<property name="documentAuditService">
			<ref local="documentAuditService" />
		</property>
	</bean>
	
	<!-- 相关定时任务 -->
	<bean id="timerAction" class="com.sinosoft.efiling.timer.TimerAction" parent="documentAction"></bean>
	<!-- 资料到期提醒的定时任务 -->
	<bean id="reminderService" class="com.sinosoft.efiling.timer.ReminderService" parent="serviceSupport">
		<property name="dao"><ref local="documentDao" /></property>
	</bean>
	<bean id="fileLendingReminderService" class="com.sinosoft.efiling.timer.FileLendingReminderService" parent="serviceSupport">
		<property name="dao"><ref local="fileLendingDao" /></property>
	</bean>
	<!-- 补数的定时任务 -->
	<bean id="documentComplementTimerTask" class="com.sinosoft.efiling.timer.DocumentComplementTimerTask">
		<property name="service"><ref local="documentAuditService" /></property>
	</bean>
	
	<bean id="documentImportService" class="com.sinosoft.efiling.service.DocumentImportService" parent="documentAuditService"></bean>
	
	<!-- 档案扫描 -->
	<bean id="fileScanService" class="com.sinosoft.efiling.service.FileScanService" parent="documentService"></bean>
	<bean id="fileScanAction" class="com.sinosoft.efiling.struts2.action.FileScanAction" parent="actionSupport">
		<property name="service">
			<ref local="fileScanService" />
		</property>
		<property name="documentImportService">
			<ref local="documentImportService" />
		</property>
	</bean>
	
	<!-- 档案查询 -->
	<bean id="fileQueryAction" class="com.sinosoft.efiling.struts2.action.FileQueryAction" parent="fileManagerAction"></bean>
	<bean id="fileLackReportAction" class="com.sinosoft.efiling.struts2.action.FileLackReportAction" parent="fileManagerAction"></bean>
	
	<!-- 档案借阅管理 -->
	<bean id="fileLendingService" class="com.sinosoft.efiling.service.FileLendingService" parent="serviceSupport">
		<property name="dao"><ref local="fileLendingDao" /></property>		
		<property name="productDao"><ref local="productDao" /></property>
		<property name="documentDao"><ref local="documentDao" /></property>
		<property name="documentFileDao"><ref local="documentFileDao" /></property>
		<property name="fileLendingDetailDao"><ref local="fileLendingDetailDao" /></property>
		<property name="fileLendingReturnDao"><ref local="fileLendingReturnDao" /></property>
		<property name="fileDao"><ref local="fileDao" /></property>
	</bean>
	<bean id="fileLendingAction" class="com.sinosoft.efiling.struts2.action.FileLendingAction" parent="fileManagerAction">
		<property name="service"><ref local="fileLendingService" /></property>
	</bean>
	
	<!--归档期限设置 -->
	<bean id="fileDeadlineService" class="com.sinosoft.efiling.service.FileDeadlineService" parent="serviceSupport">
		<property name="dao"><ref local="fileDeadlineDao" /></property>		
		<property name="productDao"><ref local="productDao" /></property>
	</bean>
	<bean id="fileDeadlineAction" class="com.sinosoft.efiling.struts2.action.FileDeadlineAction" parent="actionSupport">		
		<property name="service">
			<ref local="fileDeadlineService" />
		</property>
	</bean>
	<!-- 纸质手工归档 -->
	<bean id="fileManualhandleService" class="com.sinosoft.efiling.service.FileManualhandleService" parent="documentService">
		<!-- <property name="paperLogDocumentService"><ref local="paperLogDocumentService" /></property> -->
	</bean>
	<bean id="fileManualhandleAction" class="com.sinosoft.efiling.struts2.action.FileManualhandleAction" parent="actionSupport">
		<property name="service"><ref local="fileManualhandleService" /></property>
	</bean>
	<!--配置documentAuditService主要用于承保系统调用eFiling系统的接口 -->
	<bean id="documentAuditService" class="com.sinosoft.efiling.service.DocumentAuditService" parent="documentService">
		<!-- <property name="dao"><ref local="documentDao" /></property> -->		
		<property name="prpTMainDao"><ref local="prpTMainDao" /></property>
		<!-- <property name="documentFileDao"><ref local="documentFileDao" /></property> -->		
		<property name="prpCMainDao"><ref local="prpCMainDao" /></property>
		<property name="prpPMainDao"><ref local="prpPMainDao" /></property>		
		<property name="productDao"><ref local="productDao" /></property>
		<property name="productRiskDao"><ref local="productRiskDao" /></property>
		<property name="prpTInsuredDao"><ref local="prpTInsuredDao" /></property>		
		<property name="prpCInsuredDao"><ref local="prpCInsuredDao" /></property>
		<property name="prpPInsuredDao"><ref local="prpPInsuredDao" /></property>		
		<property name="prpTMainsubDao"><ref local="prpTMainsubDao" /></property>
		<property name="prpCMainsubDao"><ref local="prpCMainsubDao" /></property>		
		<property name="prpPMainsubDao"><ref local="prpPMainsubDao" /></property>
		<property name="prpTItemcarDao"><ref local="prpTItemcarDao" /></property>		
		<property name="prpCItemcarDao"><ref local="prpCItemcarDao" /></property>
		<property name="prpPItemcarDao"><ref local="prpPItemcarDao" /></property>		
		<property name="prpDUwmtypesDao"><ref local="prpDUwmtypesDao" /></property>
		<property name="prpDCoderiskDao"><ref local="prpDCoderiskDao" /></property>		
		<property name="userDao"><ref local="userDao" /></property>
		<property name="fileTypeDao"><ref local="fileTypeDao" /></property>
		<property name="prpcMaincovernoteDao"><ref local="prpcMaincovernoteDao" /></property>
		<property name="prppMaincovernoteDao"><ref local="prppMaincovernoteDao" /></property>
		<property name="prpcCustomerDao"><ref local="prpcCustomerDao" /></property>
		<property name="prppCustomerDao"><ref local="prppCustomerDao" /></property>
		<property name="prptcarshiptaxDao"><ref local="prptcarshiptaxDao" /></property>
	</bean>
	<bean id="documentAuditServiceAction" class="com.sinosoft.efiling.struts2.action.DocumentAuditServiceAction" parent="actionSupport">		
		<property name="documentAuditService">
			<ref local="documentAuditService" />
		</property>
	</bean>
	
	<!-- 其他系统调用eFiling系统接口的一个域校验类 -->
	<bean id="fileSystemDao" class="com.sinosoft.filenet.FileSystemDao" parent="entityDao"></bean>
	
	<bean id="fileSystemService" class="com.sinosoft.filenet.FileSystemService" parent="serviceSupport">
		<property name="dao"><ref local="fileSystemDao" /></property>
	</bean>
	<!-- <bean id="fileSystemAction" class="com.sinosoft.filenet.FileSystemAction" parent="actionSupport">
		<property name="service">
			<ref local="fileSystemService" />
		</property>
	</bean> -->
	
	<!-- 文件操作 -->
	<bean id="fileIndexDao" class="com.sinosoft.filenet.FileIndexDao" parent="entityDao"></bean>
	<bean id="fileIndexService" class="com.sinosoft.filenet.FileIndexService" parent="serviceSupport">
		<property name="dao"><ref local="fileIndexDao" /></property>
		<property name="configureDao"><ref local="configureDao" /></property>
		<property name="fileSystemService"><ref local="fileSystemService" /></property>
	</bean>
	<bean id="fileIndexAction" class="com.sinosoft.filenet.FileIndexAction" parent="actionSupport"></bean>
	
	<bean id="dataImigrationAction" class="com.sinosoft.efiling.struts2.action.DataImigrationAction" parent="actionSupport">		
		<property name="documentAuditService">
			<ref local="documentAuditService" />
		</property>
	</bean>
</beans>